@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<h4 class="fw-bolder h4 text-center">@ViewData["Title"]</h4>
<center>
    <hr class="underline" style="width:5em;height:3px;opacity:1">
</center>

<div class="row justify-content-center my-5">
    <div class="col-lg-5 col-md-8 col-sm-10 col-xs-12">
        <div class="card rounded-0 shadow">
            <div class="card-header">
                <div class="card-title text-center h4 fw-bolder">Enter Your Email</div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-0 pb-0"></div>
                    <form class="form-horizontal" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="w-100 form-control btn btn-lg btn-primary">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
