@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<h4 class="fw-bolder h4 text-center">@ViewData["Title"]</h4>
<center>
    <hr class="underline" style="width:5em;height:3px;opacity:1">
</center>

<div class="row justify-content-center my-5">
    <div class="my-5">
        <p class="text-center">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>
