@page
@model ChangePasswordModel

@using Microsoft.AspNetCore.Identity
@using HajurKoCarRental.Areas.Identity.Data;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    bool editingOtherUser = false;
    string userId = "";
    string handler = "";
    var firstName = "";

    if (ViewData["userId"] != null)
    {
        userId = (string)ViewData["userId"];
        editingOtherUser = (UserManager.GetUserId(User) == userId) ? false : true;
        var user = UserManager.FindByIdAsync(userId).Result;
        firstName = user.FirstName;
    }

    if (editingOtherUser)
    {
        ViewData["Title"] = "Change " + firstName + "'s Password";
        handler = "other";
    }
}

<h3 class="text-color-primary">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" asp-route-userId="@userId" asp-page-handler="@handler" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-0 pb-0"></div>
            <div class="form-floating mb-2">
                @if (!editingOtherUser)
                {
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Input.OldPassword" class="form-control" hidden value="1234" aria-required="true" />
                }
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn form-control btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
